/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.column-left-large{
  float:left;
  width: 65%;
}
.column-small-right{
  float:right;
  width: 25%;
}
.column-left{
  float: left;
  margin-right: : 10px;
  width: 30%;
}
.column-right{
  float: right;
  margin-left: : 10px;
  width: 30%;
}
.column-center{
   display: inline-block;
   margin-left: : 10px;
   margin-right: 10px;
   width: 30%;
 }
